*{
    padding: 0;
    margin: 0;
}

body{
    
    box-sizing: border-box;
    font-family: poppins;
    background: linear-gradient(135deg,#2e2d2e, #000000);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: auto;
   
    
}

.logo {
    color: rgba(19, 19, 18, 0.678);
    font-weight: bold;
    font-size: 25px;
}

.logo a:hover{
    background-color: none;
}
span{

    color: rgb(221, 83, 210);
}
nav{

    margin-top: 0;
    position: fixed;
    right: 0;
    left: 0;
    
    
}

.main-bar{
    
   background: transparent;
    
}

nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style-type:none;
}

nav ul li{
    height: 50px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(253, 251, 251);
    transition: .3s;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
   transition: .4s;
    
}

nav ul li a:hover {

    color: #00abf0 ;
   
    
}

nav li:first-child{
    margin-right: auto;
   
    
}

.sidebar{
    margin-top: 0;
    position: fixed;
    top: 0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(100px);
  
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    

    

}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-bar{
    display: none;
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding:0px 50px;

}

.home-content{
    max-width: 500px;
    
}

.home-content h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 0;
}

.home-content h2{
    margin-top:0 ;
    font-size: 25px;
    color:#00abf0 ;
}

.home-content p{
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.btn-cont{
    width: 345px;
    height: 50px;
}
.hire-btn, .talk-btn{
    background: transparent;
    width: 90px;
    height:30px;
    color:#00abf0 ;
    border:1px solid #00abf0;
    border-radius: 5px;
    margin: 10px 10px;
    transition: .4s;
    
    
}

.hire-btn:hover,.talk-btn:hover {
    background-color: #00abf0;
    color:#080808;
    }


    
    
    .socio-btn{
        position: fixed;
        left: 50px;
        bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .socio-btn button{
        width: 30px;
        height: 30px;
        border: 1px solid #00abf0;
        border-radius: 15px;
        background-color: transparent;
        transition: .4s;
       
    } 

    .socio-btn button a{
        color: #00abf0;
    }

    .socio-btn button:hover{
        background-color: #00abf0;
       
    }
    .socio-btn button a:hover{
        color: #080808;
    }



@media(max-width: 800px){
    .hide-li{
        display: none;
    }
    .menu-bar{
        display: block;
    }
    .main-bar{
        background-color: rgb(55, 57, 59);
    }
   .home{
    padding: 0px 16px;
   }
   .home-content{

   }
}

@media(max-width:460px){
    .sidebar{
        width: 100%;
        display:none;
        gap: 20px;
    
    
}
}
